@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Profile";
    Layout = "_AdminLayout";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-info text-white">
                  Admin  Profile
                </div>
                <div class="card-body">
                   Admin Profile body
                </div>
                <div class="card-footer">
                  Admin  profile footer
                </div>
            </div>
        </div>
    </div>
</div>